/* Start of CSS file */
/* Styling sheet for /client that applies through App.jsx */
/* Base values */
:root {
    /* https://coolors.co */
    --periwinkle: #b2abf5ff;
    --marian-blue: #334a93ff;
    --ultra-violet: #575f84ff;
    --penn-blue: #0b235aff;
    --oxford-blue: #0a122aff;
}

/* body {

}

main {

} */

/* Pages */

/* End of CSS file */